<% provide :title, t("show_articles")%>
<div class="blog_area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog_detaisl_area">
          <div class="blog_full_content">
            <% if @article.thumbnail.attached? %>
              <div><%= image_tag @article.thumbnail %></div>
            <% end %>
            <h4><%= @article.title %></h4>
            <div class="blog_meta">
              <%= t("likes") %> <%= Settings.number_like %> | <%= t("comments") %> <%= Settings.number_comment %>
            </div>
            <%= raw(@article.content) %>
          </div>
        </div>
      </div>
      <%= render ("slidebar") %>
    </div>
  </div>
</div>
