<div class="chat-popup" id="conversation-<%= @conversation.id %>">
  <div class="panel-heading">
    <%= image_tag user.image, class:"avatar_icon" %>
    <h5 class="chat_member_name">
      <%= link_to conversation.opposed_user(user).user_name, receiver_path(conversation.opposed_user(user)),
        class: 'toggle-window', data: {turbolinks: "false"} %>
    </h5>
    <%= link_to "x", close_conversation_path(conversation.id), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %>
    <% if current_user.patient? %>
      <h5><%= t "counselor" %></h5>
    <% else %>
      <h5><%= t "patient" %></h5>
    <% end %>
  </div>

  <hr class="hr_chat">

  <div class="panel-body" id="panel-body">
    <div class="messages-list-<%= conversation.host_id == current_user.id ? conversation.patient_id : conversation.host_id %>" id="">
      <% load_messages(conversation) %>
      <%= render @messages if @messages.present? %>
    </div>
  </div>
  <%= form_tag messages_path, method: :post, remote: true, class: "form-container" do %>
    <hr class="hr_chat">
    <%= hidden_field_tag :conversation_id,  conversation.id %>
    <%= hidden_field_tag :sender_id,  current_user.id %>
    <%= text_field_tag :body, nil, placeholder: t("type_message"), class: "form-control input_chat", required: true %>
    <button type="submit" class="btn_submit_chat">
      <i class="zmdi zmdi-mail-send zmdi-hc-2x send_message_icon"></i>
    </button>
  <% end %>
</div>
