<div class="col">
  <h4><%= t "appointment" %></h4>
</div>

<div class="contact_form appointment_form">
  <%= form_for @appointment do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <% if current_user.present? %>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <%= f.label t "full_name" %>
          <%= f.text_field :full_name, class: "select-be",
            disabled: true, value: current_user.full_name %>
        </div>
        <div class="col-lg-6 col-md-12">
          <%= f.label t "phone" %>
          <%= f.text_field :phone_patient, class: "select-be",
            value: current_user.phone %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.label t "email" %>
          <%= f.email_field :email, class: "select-be",
            disabled: true, value: current_user.email %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.label t "address" %>
          <%= f.text_field :address_patient, class: "select-be",
            value: current_user.address %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <%= f.label t "faculty" %>
        <%= f.select :faculty_id, faculties, {include_blank: t("select_faculty")},
          { class: "select-be faculty_select" } %>
      </div>
      <div class="col-lg-6 col-md-12">
        <%= f.label t "doctor" %>
        <%= f.select :doctor_id, doctors, {include_blank: t("select_doctor")},
          { class: "select-be doctor_select" } %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 date_picker">
        <%= f.label t "day" %>
        <%= f.text_field :day, {readonly: "readonly",
          class: "select-be datepicker" }%>
      </div>
      <div class="col-lg-6 col-md-12 time_select_area">
        <%= f.label t "start_time" %>
        <%= f.select :shift_work_id, from_time_all, {include_blank: t("select_time")},
            { class: "select-be time_select" } %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 insurance">
        <%= f.label t("have_insurance"), class: "checkbox" do %>
          <%= f.check_box :insurance, class: "remember_box insurance_box" %>
          <span><%= t "have_insurance" %></span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12 message-nice">
        <%= f.label t "message" %>
        <%= f.text_area :message, placeholder: t("message_here") %>
      </div>
    </div>
    <div class="row text">
      <div class="col col-md-12">
        <%= f.submit t("submit"), class: "btn custom_btn btn-submit" %>
      </div>
    </div>
  <% end %>
</div>
